.unimportant {
  font-size: medium;

}

.name {
  color: blue;
  font-style: italic;
  font-weight: bolder;

}

.important {
  font-weight: bolder;
}

.sidebar {
width: 100px;
height: 100%;
float: right;
background-color: lightsalmon;
}

img {
 float: left;
 
}
body {
background-color: dimgrey;
width: 1000px;
}